<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    
    <!-- typed.js dyanic text  -->
    <script src="https://s3.amazonaws.com/myadvobuck/static/libs/typed.min.js"></script>   

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
</head>
<body>
    
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-11 col-12 mx auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_right align-items-center">
                            <img src="images/img1.png" alt="Anuj" class="img-fluid" title="AnujDarji" style="height: 80%;">
                    </div>
                    
                    
                    <div class="col-md-6 col-12 main_left">
                         {{!-- <h1><span>Why I Being A Developer!!?</span></h1>  --}}
                         <div class="Wrapper">
                            <div class="static_text">I'm</div>
                            <ul class="dynamic_text">
                                <li><span>Vedant Modi</span></li>
                                <li><span>Web Designer</span></li>
                                <li><span>Developer</span></li>
                                <li><span>Freelancer</span></li>
                            </ul>
                        </div> 
                        <h3>In this day and age, one of the most impressive and in demand professions is being a Web Developer. With the rapid growth of smartphones, gadget development, and the increasing reach of tech in everyday life, web development is one of the most attractive fields in the tech industry.</h3>
                        <a href="vedant.pdf"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
{{>footer}}

</body>
</html>